@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Page
/// Defines the main styles for the project page.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
html,
body {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	font-size: var(--font-size-md);
}

body {
	background: var(--color-mono-light);
	font-size: 1rem;
	font-family: var(--font-family);
	line-height: 1.2rem;
	letter-spacing: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&, * {
		box-sizing: border-box;
	}
}

[hidden] {
	display: none;
}

*:focus {
	outline: none;
}
