@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Typography
/// Defines the global typo styles for the project.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
html {
	font-size: $font-size-base;
}

body {
	font-size: 1rem;
	font-family: $font-family;
	font-size: 1rem;
	line-height: 1.5rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0;
}