$icomoon-font-family: "soaricons" !default;
$icomoon-font-path: "../fonts" !default;

$soaricons--bars: "\e900";
$soaricons--transfer: "\e901";
$soaricons--home: "\e902";
$soaricons--user: "\e903";
$soaricons--economic-investment: "\e904";
$soaricons--credit-card: "\e905";
$soaricons--loan: "\e906";
$soaricons--service: "\e907";
$soaricons--econometrics: "\e908";
$soaricons--settings-solid: "\e909";
$soaricons--pencil: "\e90a";
$soaricons--chevron-right: "\e90b";
$soaricons--task: "\e913";
$soaricons--settings: "\e90c";
$soaricons--notification: "\e90d";
$soaricons--magnifying-glass: "\e90e";
$soaricons--paper-plane: "\e90f";
$soaricons--money: "\e910";
$soaricons--paypal: "\e911";
$soaricons--coin: "\e912";
