/// -----------------------------------------------------------------------------
/// 🟢 Simple Tokens
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
$bp-sm: 651px;
$bp-md: 835px;
$bp-lg: 1101px;
$border-radius: 8px;
$color-primary: #6469ba;
$color-secondary: #1b1a29;
$color-neutral: #fff;
$font-size-base: 16px;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$sidebar-open: 260px;
$sidebar-closed: 64px;
$spacing-base: 20px;
